
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  img {
    display: block;
    max-width: 100%;
  }

  body 
  { 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Figtree", sans-serif;
  }
