
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  img {
    display: block;
    /* max-width: 279px; */
  }

  a {
    text-decoration: none;
  }

  body 
  { 
    background-color: #F4D04E;
    color: #7F7F7F;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Figtree", sans-serif;
    font-size: .875rem;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFF;
    padding: 1.5rem;
    gap: 1.5rem;
    border-radius: 20px;
    border:  1px solid black;
    filter: drop-shadow( .5rem .5rem #000000);
    max-width: 327px;
  }
  
  h1 {
    font-size: 1.25rem;
    font-weight: 800;
    color: #000;
  }

  .hero span {
    color: #000;
    background-color: #F4D04E;
    font-weight: 800;
    border-radius: .25rem;
    padding: .33em 1em;
    display: inline-flex;
  }

  .publish-date {
    display: none;
    color: #000;
  }

  .hero {
    display: flex;
    flex-direction: column;
    gap: .75em;
  }

  .author {
    display: flex;
    gap: .75rem;
    align-items: center;
    font-weight: 800;
    color: #000000;
  }

  .author img {
    max-width: 32px;
  }

  @media only screen and (min-width: 600px) {

    body {
      font-size: 1rem;
    }

    .publish-date {
        display: block;
    }

    h1:hover, h1:active {
        color: #F4D04E;
        cursor: pointer;
    }

  }